{% extends 'base.html.twig' %}

{% block title %}Edit TrancheKm{% endblock %}

{% block body %}
    <h1>Edit TrancheKm</h1>

    {{ include('tranche_km/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tranche_km_index') }}">back to list</a>

    {{ include('tranche_km/_delete_form.html.twig') }}
{% endblock %}
