{% extends 'base.html.twig' %}

{% block title %}Edit TypeVehicule{% endblock %}

{% block body %}
    <h1>Edit TypeVehicule</h1>

    {{ include('type_vehicule/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_vehicule_index') }}">back to list</a>

    {{ include('type_vehicule/_delete_form.html.twig') }}
{% endblock %}
