{% extends 'base.html.twig' %}

{% block title %}New TypeVehicule{% endblock %}

{% block body %}
    <h1>Create new TypeVehicule</h1>

    {{ include('type_vehicule/_form.html.twig') }}

    <a href="{{ path('type_vehicule_index') }}">back to list</a>
{% endblock %}
