<form method="post" action="{{ path('abonne_delete', {'id': abonne.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ abonne.id) }}">
    <button class="btn">Delete</button>
</form>
