{% extends 'base.html.twig' %}

{% block title %}Edit FactureKM{% endblock %}

{% block body %}
    <h1>Edit FactureKM</h1>

    {{ include('facture_km/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('facture_k_m_index') }}">back to list</a>

    {{ include('facture_km/_delete_form.html.twig') }}
{% endblock %}
